#map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
}

.navbar {
	z-index: 1;
	left: 13%;
}

@media screen and (max-width: 576px) {
	.navbar {
		left: 13%;
	}
  }

#flag {
	height: 50px;
	width: auto;
}

.star {
	font-size: 1.5em;
}

.restaurants-btn {
	margin-left: auto;
	margin-right:auto;
}



.modal-dialog {
    margin-bottom: 0;
}

.modal-header {
	width: 100%;
	background-color: rgb(212, 212, 212);
}

.modal-content {
	background-color: rgb(212, 212, 212);
}

.citiesFlexRow {
	display:flex;
	justify-content: center;
}